

{% extends "base.html" %}
{% block content %}

	<style>
		body{
			background-image: url("https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=916&q=80");
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

    .jumbotron{
      padding-bottom: 10px;
      padding-top: 10px;
    }
	</style>

	<div class = "jumbotron ">
		<h1  class="display-4" style="text-align: center;">About the company </h1><br>
		<p style="text-align: justify; ;">Welcome to the Social Company Blog! Join in with the others in sharing what you feel is important. Meet like-minded people and stumble upon creativity you've never seen before. Experience the new way of conneectivity and help keep yourself updated on the people who care about. Plus, it's free! Happy sharing :)</p>
	</div>

	

	<div class="container">
 		 <div class="row" style="padding-left: 35px">
    		<div class="col-sm">
      			<div class="card" style="width: 18rem;">
  				<img src="https://images.unsplash.com/photo-1535013113415-b315146c67d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
  					<div class="card-body">
    					<h5 class="card-title">Discover</h5>
    					<p class="card-text">Discover the knowledge that's been waiting on you to be gained.</p>
  					</div>
				</div>
    		</div>

    		<div class="col-sm">
      			<div class="card" style="width: 18rem;">
  					<img src="https://images.unsplash.com/photo-1493514789931-586cb221d7a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="card-img-top" alt="...">
  						<div class="card-body">
    						<h5 class="card-title">Connect</h5>
    						<p class="card-text">Connect with the people you care about!</p>
  						</div>
				</div>
    		</div>

    		<div class="col-sm">
      			<div class="card" style="width: 18rem;">
  					<img src="https://images.unsplash.com/photo-1461696114087-397271a7aedc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
  						<div class="card-body">
    						<h5 class="card-title">Free</h5>
    						<p class="card-text">Enjoy using our services cause it's totally free! </p>
  						</div>
				</div>
    		</div>
  		</div>
	</div>
	<br>

	

{% endblock %}
